

.container_grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
  margin-bottom: 30vh;
}

.grid {
  margin-top: 5vh;
  border: 1px solid #8599a8;
  border-radius: 8px;
  padding: 6px 14px;
  max-width: 420px;
  width: 100%;
  height: auto;
  min-height: 240px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.jokeText {
  margin-top: 50px;
}

@media screen and (max-width: 1140px) {
  .container_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .container_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
